<app-title [title]="'Fornecedor'">
    <div class="row no-pm">
        <div class="col col-sm-auto">
            <app-button [btnClass]="'btn-outline-primary'" (click)="onDownload()">
                Exportar CSV
            </app-button>
        </div>
        <div class="col col-sm-auto ms-1">
            <app-button [btnClass]="'btn-primary py-2'" (click)="onRegistrarFornecedor()" [isDisabled]="!verificarPermissaoEditar()">
                Novo fornecedor
            </app-button>
        </div>
    </div>
</app-title>

<app-filter [atributos]="atributosPesquisa" [filtroAvancado]="true" (search)="filtrar($event)"></app-filter>

<div class="mb-5 mt-2 mt-md-0">
    <ngx-datatable class="material expandable" 
        #myTable
        [rows]="rows"
        [rowClass]="getRowClass"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50" 
        [footerHeight]="50" 
        rowHeight="auto" 
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.page" 
        [limit]="page.size" 
        [externalSorting]="true"
        [loadingIndicator]="loading"
        [messages]="messages"
        [reorderable]="false"
        (page)="carregarTabela($event)" 
        (sort)="ordenar($event)">

        <!-- Row Detail Template -->
        <ngx-datatable-row-detail #myMobileDetailRow>
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div class="detalhes-fornecedor">
                    <h3>Informações de registro</h3>
                    <div class="row justify-content-between mt-2">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Nome: </label>
                            <span class="row-detail-item">{{ row.nomeFantasia }}</span>
                        </div>
                        <div class="col-sm-auto">
                            <label class="form-label me-2">CNPJ: </label>
                            <span class="row-detail-item">{{ row.cnpj }}</span>
                        </div>
                    </div> 
                    <div class="row justify-content-between mt-1">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Razão social: </label>
                            <span class="row-detail-item">{{ row.razaoSocial }}</span>
                        </div>
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Inscrição estadual: </label>
                            <span class="row-detail-item">{{ row.inscricaoEstadual }}</span>
                        </div>
                    </div> 
                    <h3 class="mt-4">Contato</h3>
                    <div class="row justify-content-between mt-2">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Email: </label>
                            <span class="row-detail-item">{{ row.email }}</span>
                        </div>
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Telefone: </label>
                            <span class="row-detail-item">{{ row.telefone }}</span>
                        </div>
                    </div>
                    <h3 class="mt-4">Endereço</h3>
                    <div class="row justify-content-between mt-2">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Rua: </label>
                            <span class="row-detail-item">{{ row.rua }}</span>
                        </div>
                        <div class="col-sm-auto">
                            <label class="form-label me-2">CEP: </label>
                            <span class="row-detail-item">{{ row.cep }}</span>
                        </div>
                    </div>
                    <div class="row justify-content-between mt-1">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Complemento: </label>
                            <span class="row-detail-item">{{ row.complemento }}</span>
                        </div>
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Nº: </label>
                            <span class="row-detail-item">{{ row.numero }}</span>
                        </div>
                    </div>
                    <div class="row justify-content-between mt-1">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Bairro: </label>
                            <span class="row-detail-item">{{ row.bairro }}</span>
                        </div>
                        <div class="row mt-1">
                            <div class="col-sm-auto">
                                <label class="form-label me-2">Cidade: </label>
                                <span class="row-detail-item">{{ row.cidade }}</span>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-sm-auto">
                                <label class="form-label me-2">Estado: </label>
                                <span class="row-detail-item">{{ row.estado }}</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="mt-4">Informações de cotação</h3>
                    <div class="row justify-content-between mt-2">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Grupos produto: </label>
                            <span class="row-detail-item">{{ getListaProdutos(row) }}</span>
                        </div>
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Status: </label>
                            <span class="row-detail-item">{{ row.status }}</span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngx-datatable-row-detail>

        <!-- Column Templates -->
        <ngx-datatable-column [width]="5" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
                    title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
                </a>
            </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="Nome" prop="nomeFantasia" headerClass="header-mobile-expand">
            <ng-template let-column="column" let-sort="sortFn"  ngx-datatable-header-template> 
                <span (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="row['nomeFantasia']" ngx-datatable-cell-template>
                {{ value }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="CNPJ" [sortable]="getWindowSize()" headerClass="header-mobile-hidden">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template> 
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value }}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Email"  [sortable]="getWindowSize()" headerClass="header-mobile-hidden">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template> 
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value }}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Telefone"  [sortable]="getWindowSize()" headerClass="header-mobile-hidden">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template> 
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value }}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Status" [sortable]="getWindowSize()" headerClass="header-mobile-hidden status">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template> 
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="d-flex">
                    <div class="status-tag mobile-hidden" [ngClass]="setStatusTag(value)">{{ value }}</div>
                    <div class="ms-auto d-flex align-items-center">
                        <a class="dropdown-toggle no-icon context-menu" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <app-button [btnClass]="'dropdown-item'" (action)="onEditarFornecedor(row)"
                                    [isDisabled]="!verificarPermissaoEditar()">
                                    <i class="bi bi-pencil-square me-2"></i>Editar
                                </app-button>
                            </li>
                            <li>
                                <app-button [btnClass]="'dropdown-item'" (action)="onExcluirFornecedor(row)"
                                    [isDisabled]="!verificarPermissaoEditar()">
                                    <i class="bi bi-x-lg me-2 text-danger"></i>
                                    <span class="text-danger">Excluir</span>
                                </app-button>
                            </li>
                        </ul>
                    </div>
                </div>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>