.no-icon::after {
    display: none;
}

.context-menu {
    cursor: pointer;
    color: var(--gray-400);
}

.context-menu:hover {
    color: var(--gray-400);
}

.dropdown-menu, .dropdown-divider {
    margin: 0;
    padding: 0;
}

.dropdown-item {
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown-item:hover:first-child {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.dropdown-item:hover:last-child {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.sort-icon::before {
    font-weight: bold !important;
}

/* Table */

#paging-bar, #pagination-control {
    height: 40px;
    padding: 4px 8px;
    background-color: white;
    border: var(--border);
    align-items: center;
    color: var(--gray-400);
}

#paging-bar {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    border-bottom: none;
}

#pagination-control {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.navigation {
    color: var(--black);
    border: 1px solid transparent;
    padding: 0 2px;
}

.navigation:hover {
    background-color: var(--gray-400);
    border: 1px solid var(--gray);
    border-radius: var(--radius);
    color: white;
}

.table {
    border: var(--border);
    background-color: white;
    border-bottom: none;
}

th, tr {
    cursor: pointer;
}

th {
    background-color: var(--gray-200);
    border-color: var(--gray) !important;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

tr:last-child {
    border-bottom: none;
}

tr {
    border: 1px solid var(--gray-400);
}
tr td {
    padding: 12px;
}