<div class="table-responsive">
    <div id="paging-bar" class="row" *ngIf="pagingTable">
        <div class="col-5">
            <span>10 de 30 resultados</span>
            <span class="ms-3">
                <b class="mx-1">De</b> {{ dateStart | date: "dd/MM/yyyy" }} <b class="mx-1">até</b> {{ dateEnd | date: "dd/MM/yyyy" }}
            </span>
        </div>
        <div class="col-4 ms-auto d-sm-flex justify-content-end">
            <span class="me-2 align-self-center">Resultados por página</span>
            <app-button [btnClass]="'btn-paging dropdown-toggle'"
            data-bs-toggle="dropdown">
                {{ selectedPageSize }}
                <i class="bi bi-chevron-down"></i>
            </app-button>
            <ul class="dropdown-menu dropdown-menu-small">
                <li *ngFor="let size of pageSizes">
                    <a class="dropdown-item" (click)="selectedPageSize = size">
                        {{ size }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <table class="table table-hover table-rounded table-borderless">
        <thead>
            <tr>
                <th scope="row" *ngFor="let header of tableStructure.headers">
                    <div (click)="header.isSorted = !header.isSorted">
                        {{ header.label }}
                        <i *ngIf="header?.isSortable"
                            class="bi ms-1 sort-icon" [ngClass]="header?.isSorted ? 'bi-sort-up' : 'bi-sort-down'"
                        ></i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let row of tableStructure.rows">
                <td scope="col" *ngFor="let item of row.items; let i = index">
                    <div class="d-flex">
                        {{ item.value }}
                        <a *ngIf="i == row.items.length - 1" 
                            class="ms-auto dropdown-toggle no-icon context-menu"
                            data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let option of tableStructure.contextMenu">
                                <a class="dropdown-item" (click)="emitEvent(row.items)">
                                    {{ option.label }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="pagination-control" class="row" *ngIf="pagingTable">
        <div class="d-flex justify-content-end">
            <a routerLink="/requisicao"><i class="bi navigation bi-chevron-double-left me-2"></i></a>
            <a routerLink="/requisicao"><i class="bi navigation bi-chevron-left me-1"></i></a>
            <a routerLink="/requisicao"><i class="bi navigation bi-chevron-right ms-1"></i></a>
            <a routerLink="/requisicao"><i class="bi navigation bi-chevron-double-right ms-2"></i></a>
        </div>
    </div>
</div>
