<!-- <mat-form-field class="datepicker">
    <mat-label>Data</mat-label>
    <mat-date-range-input [formGroup]="datePickerFormGroup" [rangePicker]="datePicker">
        <input matStartDate placeholder="Data início" formControlName="start">
        <input matEndDate placeholder="Data final" formControlName="end">
    </mat-date-range-input> 
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #datePicker></mat-date-range-picker>
</mat-form-field> -->