@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~@swimlane/ngx-datatable/themes/material.css';

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
}

main.container h3 {
  font: var(--font-bold-20);
}

main.container h4 {
  font: var(--font-bold-16);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media (min-width: 1080px) {
  main.container {
    padding: 0 0px 32px 0px;
  }
}

@media (max-width: 1079px) {
  main.container {
    padding: 0 32px 16px 32px;
  }
}

:root {
  // Cores
  --background-color: #f8f9fa;
  --black: #0c0c0c;

  --gray: #adb5bd;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;

  --primary: #0a58ca;
  --blue-100: #cfe2ff;
  --blue-400: #3d8bfd;
  --blue-500: #0d6efd;
  
  --danger: #b02a37;
  --red-100: #f8d7da;
  --red-400: #e35d6a;

  --yellow-100: #fff3cd;
  --yellow-400: #ffcd39;

  --orange-100: #ffe5d0;
  --orange-400: #fd9843;

  --green-100: #d1e7dd;
  --green-300: #75b798;
  --green-400: #479f76;

  // Fontes
  --font-family: "Roboto", sans-serif;
  --logo: normal bold normal 20px var(--font-family);

  --font-bold-48: normal bold normal 48px var(--font-family);
  --font-bold-32: normal bold normal 32px var(--font-family);
  --font-bold-24: normal bold normal 24px var(--font-family);
  --font-bold-20: normal bold normal 20px var(--font-family);
  --font-bold-16: normal bold normal 16px var(--font-family);
  --font-bold-15: normal bold normal 15px var(--font-family);
  --font-bold-14: normal bold normal 14px var(--font-family);
  --font-bold-13: normal bold normal 13px var(--font-family);
  
  --font-regular-15: normal normal normal 15px var(--font-family);
  --font-regular-14: normal normal normal 14px var(--font-family);
  --font-regular-13: normal normal normal 13px var(--font-family);

  // Box shadow
  --box-shadow: 5px 7px 4px rgba(0, 0, 0, 0.3);
  --radius: 4px;
  --border: 2px solid var(--gray-400);
}