<div id="title" class="row">
    <div class="col-4">
        <h2>Requisição</h2>
    </div>
    <div class="col-4 ms-auto d-sm-flex justify-content-end">
        <app-button [btnClass]="'btn-outline-primary dropdown-toggle'" data-bs-toggle="dropdown">
            Exportar 
            <i class="bi bi-chevron-down ms-2"></i>
        </app-button>
        <ul class="dropdown-menu dropdown-menu-end" style="margin-top: -20px !important;">
            <li><a class="dropdown-item"><i class="bi bi-file-earmark-pdf me-2"></i> PDF</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item"><i class="bi bi-file-earmark-excel me-2"></i> CSV</a></li>
        </ul>
        <app-button [btnClass]="'btn-primary ms-sm-1 py-2'" routerLink="/requisicao/criar">
            Criar requisição
        </app-button>
    </div>
</div>

<app-filter [searchTextOptions]="textOptions" [filters]="filterOptions"></app-filter>
<app-table [tableStructure]="tabelaRequisicao" [pagingTable]="true"></app-table>