<app-title [title]="'Gerenciar cotação'">
    <div class="row justify-content-end p-0">
        <div class="col-auto p-0">
            <app-button [btnClass]="'btn-primary'" (action)="onAdicionarCotacao()" [isDisabled]="!isNew">
                Adicionar forncedor
            </app-button>
        </div>
    </div>
</app-title>

<form [formGroup]="grupoCotacaoForm" class="needs-validation" novalidate>

    <div class="container h-scroll">
        <div class="row h-scroll-row">
            <div class="col-4 pe-2 mb-3">

                <!-- Informações -->
                <div class="row justify-content-between align-items-center header b-right" style="height: 78px;">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-auto me-1">
                                <h4>Prazo solicitado: </h4>
                            </div>
                            <div class="col">
                                <h4 class="header-info">{{ grupoCotacao.prazoSolicitado | date: 'dd/MM/yyyy' }}</h4>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-auto me-1">
                                <h4>Código:</h4>
                            </div>
                            <div class="col-auto">
                                <h4 class="header-info">{{ grupoCotacao.id }}</h4>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-auto me-1">
                                <h4>Grupo produto:</h4>
                            </div>
                            <div class="col-auto">
                                <h4 class="header-info">{{ grupoCotacao.grupoProduto?.descricao }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Produtos Header -->
                <div class="row justify-content-between mt-2">
                    <div class="col">
                        <span class="span-label">Produto</span>
                    </div>
                    <div class="col d-flex justify-content-end align-items-center me-4">
                        <span class="span-label">Quantidade</span>
                    </div>
                    <div class="col-1">
                        <span class="span-label">Un.</span>
                    </div>
                </div>

                <!-- Produtos lista -->
                <div class="row py-1 mt-1 produto-row" 
                *ngFor="let mapProduto of getProdutos()" >
                    <div class="col">
                        <div class="row">
                            <div class="col align-items-center">
                                <span class="span-value">{{ mapProduto.produto.descricao }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col me-4">
                        <div class="row justify-content-end">
                            <div class="col-auto align-items-center">
                                <span class="span-value ms-auto">{{ mapProduto.quantidadeTotal }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="row">
                            <div class="col">
                                <span class="span-value">{{ getUnMedida(mapProduto.produto.unMedida) }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <label class="form-label">Fornecedor escolhido</label>
                    <ng-select 
                        [items]="listaFornecedores" 
                        bindLabel="nomeFantasia" 
                        bindValue="id" 
                        [multiple]="false"
                        [searchable]="true" 
                        [closeOnSelect]="true" 
                        placeholder="Selecionar fornecedor" 
                        formControlName="fornecedorSelecionado"
                        required>
                    </ng-select>
                </div>
                <!-- Observações -->
                <div class="row mt-3">
                    <label for="observacoesTextArea" class="form-label">Observações</label>
                    <textarea class="form-control px-2" id="observacoesTextArea" style="height: 150px;" formControlName="observacoes"></textarea>
                </div>
            </div> 

            <!-- Cotações -->
            <div class="col-4 ps-3" *ngFor="let cotacao of grupoCotacao.cotacoes"> 
                <div class="header pb-2">
                    <div class="row">
                        <div class="col">
                            <ng-select [items]="listaFornecedores" 
                                bindLabel="nomeFantasia" 
                                bindValue="id" 
                                [multiple]="false"
                                [searchable]="true" 
                                [closeOnSelect]="true" 
                                placeholder="Selecionar fornecedor"
                                [(ngModel)]="cotacao?.fornecedor.id" 
                                [ngModelOptions]="{standalone: true}"
                                (change)="onSelecionarFornecedor()"
                                required>
                            </ng-select>
                        </div>
                    </div>
                    <div class="row justify-content-between mt-1">
                        <div class="col-auto">
                            <span class="span-label me-1">Cnpj:</span>
                            <span class="span-value">{{ cotacao.fornecedor.cnpj }}</span>
                        </div>
                        <div class="col-auto">
                            <app-button [btnClass]="'btn-tertiary-primary'">
                                Novo link
                            </app-button>
                        </div>
                    </div>
                </div>
    
                <div class="row mt-3">
                    <div class="col">
                        <span class="span-label flex-col">R$ / Un.</span>
                    </div>
                    <div class="col">
                        <span class="span-label flex-col">Aliq. IPI</span>
                    </div>
                    <div class="col">
                        <span class="span-label flex-col">Subtotal</span>
                    </div>
                </div>
                <div class="row w-100" *ngFor="let produtoCotado of cotacao.produtos; let i = index;">
                    <div class="col py-1 pe-1">
                        <div class="input-group mb-3">
                            <span class="input-group-text px-2">R$</span>
                        <input type="text" 
                            id="i"
                            class="form-control text-center" 
                            [(ngModel)]="produtoCotado.precoUnitario"
                            [ngModelOptions]="{standalone: true}"
                            [mask]="'0*.00'"
                            [dropSpecialCharacters]="false"
                            required>
                        </div>
                    </div>
                    <div class="col p-1">
                        <input type="text" 
                            class="form-control text-center" 
                            [(ngModel)]="produtoCotado.aliquotaIpi" 
                            [ngModelOptions]="{standalone: true}"
                            mask="separator.2"
                            thousandSeparator="."
                            [suffix]="'%'"
                            [dropSpecialCharacters]="false">
                    </div>
                    <div class="col py-1 ps-1">
                        <div class="input-group mb-3">
                            <span class="input-group-text px-2">R$</span>
                        <input type="text" 
                            class="form-control text-center"
                            [value]="getProdutoSubTotal(produtoCotado)"
                            readonly>
                        </div>
                    </div>
                </div>
                <div class="row my-1 justify-content-between">
                    <div class="col-auto">
                        <span class="span-label">Frete</span>
                    </div>
                    <div class="col-auto">
                        <span class="span-value">{{ cotacao.frete }}</span>
                    </div>
                </div>
                <div class="row mt-3 justify-content-between">
                    <div class="col-auto">
                        <span class="span-label">Desconto</span>
                    </div>
                    <div class="col-auto">
                        <span class="span-value">
                            <span class="me-1">-</span>
                            {{ cotacao.desconto }}
                        </span>
                    </div>
                </div>
                <hr>
                <div class="row mt-2 justify-content-between">
                    <div class="col-auto">
                        <span class="span-label">Total</span>
                    </div>
                    <div class="col-auto">
                        <span class="me-1 span-label">R$</span>
                        <span class="span-label">
                            {{ calcularTotalCotacao(cotacao) }}
                        </span>
                    </div>
                </div>
                <div class="row mt-3 justify-content-between">
                    <div class="col-auto">
                        <span class="span-label">Transportadora</span>
                    </div>
                    <div class="col-auto">
                        <span class="span-value">{{ cotacao.transportadora }}</span>
                    </div>
                </div>
                <div class="row mt-1 justify-content-between">
                    <div class="col-auto">
                        <span class="span-label">Meio de transporte</span>
                    </div>
                    <div class="col-auto">
                        <span class="span-value">{{ cotacao.meioTransporte }}</span>
                    </div>
                </div>
                <div class="row mt-1 mb-3 justify-content-between">
                    <div class="col-auto">
                        <span class="span-label">Prazo fornecedor</span>
                    </div>
                    <div class="col-auto">
                        <span class="span-value">{{ cotacao.prazo | date: 'dd/MM/yyyy' }}</span>
                    </div>
                </div>
                <div class="row mt-1 mb-3 justify-content-between">
                    <div class="col-auto">
                        <span class="span-label">Formas pgto</span>
                    </div>
                    <div class="col-auto text-end">
                        <span class="span-value d-block mt-1" *ngFor="let formaPgto of cotacao.formasPgto?.split(',')">{{ formaPgto }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-end mt-3">
        <div class="col-auto me-auto d-flex align-items-center">
            <app-button [btnClass]="'btn-tertiary-primary'"
                (click)="onRestaurar($event)">
                Restaurar
            </app-button>
        </div>
        <div class="col-auto">
            <app-button [btnClass]="'btn-outline-danger me-1 me-md-2'"
                (action)="onCancelar($event)">
                Cancelar
            </app-button>
        </div>
        <div class="col-auto">
            <app-button [btnClass]="'btn-outline-primary me-1 me-md-2'" (action)="onEnviarEmail()">Enviar email</app-button>
        </div>
        <div class="col-auto">
            <app-button [btnClass]="'btn-primary me-1 me-md-2'" (action)="onSalvar($event)">Salvar</app-button>
        </div>
        <div class="col-auto">
            <app-button [btnClass]="'btn-primary'" (action)="gerarOrdem()">Nova ordem de compra</app-button>
        </div>
    </div>
</form>