<app-title [title]="titulo"></app-title>

<form [formGroup]="requisicaoForm" (ngSubmit)="onSalvar($event)" (keydown)="onSalvar($event)" class="needs-validation" novalidate>
    <div class="row justify-content-between">

        <!-- Prazo -->
        <div class="col-auto mb-3">
            <label class="form-label">
                Prazo
                <span class="text-danger">*</span>
            </label>
            <div class="input-group">
                <input ngbDatepicker #dp="ngbDatepicker" 
                        class="form-control datepicker"
                        placeholder="DD/MM/AAAA"
                        name="dp" 
                        [startDate]="hoje"
                        [minDate]="hoje"
                        outsideDays="hidden"
                        (click)="dp.toggle()"
                        (dateSelect)="onDateSelect($event)"
                        formControlName="prazo"
                        readonly>
                <i class="bi bi-calendar pb-1" (click)="dp.toggle()" (dateSelect)="onDateSelect($event)"
                [ngClass]="requisicaoForm.get('prazo').touched ? (requisicaoForm.get('prazo').valid ?
                'icone-valido' : 'icone-invalido') : ''"></i>
            </div>
            <small class="text-success" *ngIf="requisicaoForm.get('prazo').touched && requisicaoForm.get('prazo').valid">
                Prazo ok!
            </small>
            <span *ngIf="requisicaoForm.get('prazo').touched && !requisicaoForm.get('prazo').valid" class="text-danger">
                Por favor, selecione um prazo
            </span>
        </div>
        

        <!--  Centro de Custo -->
        <div class="col-12 col-sm col-lg-7 order-sm-first me-2 mb-4">
            <label class="form-label">
                Centro de custo
                <span class="text-danger">*</span>
            </label>
            <ng-select 
                [items]="listaCentrosCusto" 
                bindLabel="descricao" 
                bindValue="id" 
                [multiple]="false" 
                [searchable]="true"
                [closeOnSelect]="true" 
                placeholder="Selecionar centro de custo"
                formControlName="centroCusto"
                required>
            <!-- groupBy="setor.descricao" -->
            <!-- <ng-template ng-optgroup-tmp let-item="item">
                {{ item.setor.descricao || 'Setor sem descrição'}}
            </ng-template> -->
            </ng-select>
            <small class="text-success"
                *ngIf="requisicaoForm.get('centroCusto').touched && requisicaoForm.get('centroCusto').valid">
                Centro de custo ok!
            </small>
            <small class="text-danger"
                *ngIf="requisicaoForm.get('centroCusto').touched && !requisicaoForm.get('centroCusto').valid">
                Por favor, selecione um centro de custo
            </small>
        </div>
    </div>

    <!-- Filtro -->
    <div class="row">
        <div class="col">
            <label class="form-label">Pesquisar produtos</label>
            <app-filter [atributos]="atributosPesquisa" [filtroAvancado]="true" (search)="filtrar($event)"></app-filter>
        </div>
    </div>        

    <!-- Radio buttons para selecionar lista de produtos a ser exibida (mobile) -->
    <div class="row ps-4 mb-2 justify-content-between d-lg-none">
        <div class="col-auto">
            <div class="form-check d-flex align-items-center">
                <input class="form-check-input" type="radio" id="listaProdutosFiltrados"
                formControlName="radioListaProdutos" value="filtrados" 
                (click)="requisicaoForm.get('radioListaProdutos').setValue('filtrados')">
                <label class="form-check-label ms-2" for="listaProdutosFiltrados" style="cursor: pointer;">
                    Filtrados
                </label>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-check d-flex align-items-center">
                <input class="form-check-input" type="radio" id="listaProdutosAdicionados"
                    formControlName="radioListaProdutos" value="adicionados"
                    (click)="requisicaoForm.get('radioListaProdutos').setValue('adicionados')">
                <label class="form-check-label ms-2" for="listaProdutosAdicionados" style="cursor: pointer;">
                    Adicionados
                </label>
            </div>
        </div>
    </div>

    <!-- Produtos -->
    <div id="listaProdutos" class="row py-1 px-3 p-lg-3">

        <!-- Lista produtos filtrados -->
        <div class="col-12 col-lg-5"
            *ngIf="requisicaoForm.get('radioListaProdutos').value == 'filtrados' || verificarTamanhoTela();">
            <div class="row d-none d-lg-inline">
                <div class="col">
                    <h3>Produtos filtrados</h3>
                </div>
            </div>
            <div class="row justify-content-between d-none d-lg-flex pb-1 pt-2">
                <div class="col-auto">
                    <h4>Produto</h4>
                </div>
                <div class="col-auto">
                    <div class="row justify-content-end">
                        <div class="col-auto me-2">
                            <h4>Quantidade</h4>
                        </div>
                        <div class="col-auto">
                            <h4>Unidade</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item align-items-center py-3 p-lg-2" 
                            *ngFor="let produtoFiltrado of listaProdutos">
                            <div class="row w-100">
                                <div class="col me-1">
                                    <div class="row">
                                        <div class="col-1 me-2 align-items-center d-none d-lg-inline">
                                            <input class="form-check-input" type="checkbox" [(ngModel)]="produtoFiltrado.isChecked"
                                                [ngModelOptions]="{standalone: true}">
                                        </div>
                                        <div class="col-auto mb-2 align-items-center">
                                            <span class="d-lg-none"><strong>Produto: </strong></span>
                                            <span class="produto">
                                                {{ produtoFiltrado.requisicaoProduto.produto.descricao }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <strong class="me-1">Grupo: </strong>
                                        <span>
                                            {{ produtoFiltrado.requisicaoProduto.produto.grupoProduto.descricao }}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-7 col-xxl-6">
                                    <div class="row justify-content-between mt-3 mt-md-0">
                                        <div class="col me-lg-2">
                                            <div class="number-input input-group">
                                                <button class="btn btn-number-spinner" type="button"
                                                    (click)="onDiminuirQuantidade(produtoFiltrado.requisicaoProduto)">
                                                    <i class="bi bi-dash-lg"></i>
                                                </button>
                                                <input class="form-control quantity pe-2" name="quantity" type="number" min="0"
                                                    [(ngModel)]="produtoFiltrado.requisicaoProduto.quantidade" [ngModelOptions]="{standalone: true}"
                                                    (change)="onValidarQuantidade(produtoFiltrado)">
                                                <button class="btn btn-number-spinner" type="button"
                                                    (click)="onAumentarQuantidade(produtoFiltrado.requisicaoProduto)">
                                                    <i class="bi bi-plus-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-auto me-1 col-md-2 ms-md-0 pe-2 p-lg-0 col-lg-auto order-first order-lg-last">
                                            <button class="btn-medida " data-bs-toggle="dropdown">
                                                <span class="w-100 text-center">
                                                    {{ produtoFiltrado.medidaSelecionada }}
                                                </span>
                                                <i class="bi-chevron-down ms-auto"
                                                    *ngIf="verificarTamanhoListaMedidas(produtoFiltrado.requisicaoProduto)">
                                                </i>
                                            </button>
                                            <ul class="dropdown-menu" *ngIf="verificarTamanhoListaMedidas(produtoFiltrado.requisicaoProduto)">
                                                <li class="dropdown-item"
                                                    *ngFor="let un of produtoFiltrado.requisicaoProduto.produto.getListaMedidas()"
                                                    (click)="produtoFiltrado.medidaSelecionada = un">
                                                    {{ un }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-end d-lg-none">
                                    <app-button [btnClass]="'btn btn-tertiary-primary mt-3'" (click)="onAdicionarProduto(produtoFiltrado)">
                                        Adicionar
                                    </app-button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Controle Adicionar/Remover -->
        <div class="col-2 align-self-center d-none d-lg-inline">
            <div class="row text-center">
                <div class="col">
                    <div class="row">
                        <label for="" class="form-label mb-2">Adicionar</label>
                    </div>
                    <div class="row">
                        <app-button [btnClass]="'btn-outline-gray'"
                         (action)="onAdicionarProduto()" [isDisabled]="!verificarHaProdutosSelecionados(listaProdutos, true)">
                            <i class="bi-chevron-right"></i>
                        </app-button>
                    </div>
                    <div class="row">
                        <app-button [btnClass]="'btn-outline-gray mt-2'" 
                            (action)="onRemoverProduto()" [isDisabled]="!verificarHaProdutosSelecionados(listaProdutosAdicionados, false)">
                            <i class="bi-chevron-left"></i>
                        </app-button>
                    </div>
                    <div class="row">
                        <label for="" class="form-label mt-2">Remover</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Lista produtos adicionados -->
        <div class="col-12 col-lg-5"
            *ngIf="requisicaoForm.get('radioListaProdutos').value == 'adicionados' || verificarTamanhoTela()">
            <div class="row d-none d-lg-inline">
                <div class="col">
                    <h3>Produtos filtrados</h3>
                </div>
            </div>
            <div class="row justify-content-between d-none d-lg-flex pb-1 pt-2">
                <div class="col-auto">
                    <h4>Produto</h4>
                </div>
                <div class="col-auto">
                    <div class="row justify-content-end">
                        <div class="col-auto me-2">
                            <h4>Quantidade</h4>
                        </div>
                        <div class="col-auto">
                            <h4>Unidade</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item align-items-center py-3 p-lg-2"
                            *ngFor="let produtoAdicionado of listaProdutosAdicionados">
                            <div class="row w-100">
                                <div class="col me-1">
                                    <div class="row">
                                        <div class="col-1 me-2 align-items-center d-none d-lg-inline">
                                            <input class="form-check-input" type="checkbox"
                                                [(ngModel)]="produtoAdicionado.isChecked" [ngModelOptions]="{standalone: true}">
                                        </div>
                                        <div class="col-auto mb-2 align-items-center">
                                            <span class="d-lg-none"><strong>Produto: </strong></span>
                                            <span class="produto">
                                                {{ produtoAdicionado.requisicaoProduto.produto.descricao }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <strong class="me-1">Grupo: </strong>
                                        <span>
                                            {{ produtoAdicionado.requisicaoProduto.produto.grupoProduto.descricao }}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-7 col-xxl-6">
                                    <div class="row justify-content-between mt-3 mt-md-0">
                                        <div class="col me-lg-2">
                                            <div class="number-input input-group">
                                                <button class="btn btn-number-spinner" type="button"
                                                    (click)="onDiminuirQuantidade(produtoAdicionado.requisicaoProduto)">
                                                    <i class="bi bi-dash-lg"></i>
                                                </button>
                                                <input class="form-control quantity pe-2" name="quantity" type="number" min="0"
                                                    [(ngModel)]="produtoAdicionado.requisicaoProduto.quantidade"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (change)="onValidarQuantidade(produtoAdicionado)">
                                                <button class="btn btn-number-spinner" type="button"
                                                    (click)="onAumentarQuantidade(produtoAdicionado.requisicaoProduto)">
                                                    <i class="bi bi-plus-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div
                                            class="col-auto me-1 col-md-2 ms-md-0 pe-2 p-lg-0 col-lg-auto order-first order-lg-last">
                                            <button class="btn-medida dropdown-toggle" data-bs-toggle="dropdown">
                                                <span class="w-100 text-center">
                                                    {{
                                                    produtoAdicionado.medidaSelecionada
                                                    ??
                                                    produtoAdicionado.requisicaoProduto.produto.getListaMedidas()[0]
                                                    }}
                                                </span>
                                                <i class="bi-chevron-down ms-auto"
                                                    *ngIf="verificarTamanhoListaMedidas(produtoAdicionado.requisicaoProduto)">
                                                </i>
                                            </button>
                                            <ul class="dropdown-menu"
                                                *ngIf="verificarTamanhoListaMedidas(produtoAdicionado.requisicaoProduto)">
                                                <li class="dropdown-item"
                                                    *ngFor="let un of produtoAdicionado.requisicaoProduto.produto.getListaMedidas()"
                                                    (click)="produtoAdicionado.medidaSelecionada = un">
                                                    {{ un }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-end d-lg-none">
                                    <app-button [btnClass]="'btn btn-tertiary-primary mt-3'"
                                        (click)="onRemoverProduto(produtoAdicionado)">
                                        Remover
                                    </app-button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Observações -->
    <div class="row mt-3">
        <label for="observacoesTextArea" class="form-label">Observações</label>
        <textarea class="form-control px-2 py-1" id="observacoesTextArea" formControlName="observacoes"></textarea>
    </div>

    <div class="row justify-content-end mt-3">
        <div class="col-auto me-auto d-flex align-items-center">
            <app-button [btnClass]="'btn-tertiary-primary'"
                (click)="onRestaurar($event)">
                Restaurar
            </app-button>
        </div>
        <div class="col-auto">
            <app-button [btnClass]="'btn-outline-danger me-1 me-md-2'"
                (click)="onCancelar($event)">
                Cancelar
            </app-button>
        </div>
        <div class="col-auto">
            <app-button [btnClass]="'btn-primary'" type="submit">Concluir</app-button>
        </div>
    </div>
</form>