<div class="row">
    <div class="col-12 col-md me-2">
        <div class="input-group mb-3 me-2">
            <i id="lupa" class="input-group-text bi bi-search"></i>
            <input id="barraPesquisa" ngbAutoFocus
                type="text" 
                class="form-control" 
                placeholder="Pesquisar por qualquer atributo"
                aria-label="barra de pesquisa"
                [(ngModel)]="textoPesquisa"
                (keydown.Tab)="onFiltrar()"
                (keydown.Enter)="onFiltrar()">
        </div>
    </div>

    <div class="col" *ngIf="filtroAvancado">
        <app-button [btnClass]="'btn-outline-dark'" (action)="onAdicionarFiltros()">
            <i class="bi bi-filter"></i>
            Filtros
        </app-button>
    </div>
</div>