<div class="row">
    <div *ngIf="searchTextOptions.length || exibirBarraPesquisa" class="pe-0" [ngClass]="filters ? 'col-md-10 col-lg-12' : 'col'">
        <div class="input-group mb-3 me-2">
            <i id="lupa" class="input-group-text bi bi-search"></i>
            <input id="barraPesquisa" ngbAutoFocus
                type="text" 
                class="form-control" 
                [ngClass]="{'remove-border-right': searchTextOptions.length}"
                [placeholder]="placeholder"
                aria-label="barra de pesquisa"
                [(ngModel)]="searchText"
                (keydown.Tab)="emitSearchEvent($event)"
                (keydown.Enter)="emitSearchEvent($event)">
            <app-button *ngIf="searchTextOptions.length" 
            [btnClass]="'btn-outline-gray input-button-end dropdown-toggle'" data-bs-toggle="dropdown"
            aria-expanded="false">
                {{ selectedOption.label }}
                <i class="bi bi-chevron-down ms-2"></i>
            </app-button>
            <ul class="dropdown-menu">
                <li *ngFor="let option of searchTextOptions">
                    <a class="dropdown-item" (click)="updateDropdownLabel(option)">
                        {{ option.label }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col ms-lg-3 ps-0" *ngIf="filters">
        <div class="row mb-sm-3 mb-lg-0 ">
            <div class="col me-2" *ngFor="let filter of filters" style="max-width: fit-content;">
                <div *ngIf="filter.type == 1">
                    <app-date-range-picker (selectedDate)="onSelectDate($event)"></app-date-range-picker>
                </div>
                <div class="dropdown" *ngIf="filter.type == 2">
                    <app-button [btnClass]="'btn-outline-gray dropdown-toggle'" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i *ngIf="filter?.iconClass" class="bi me-2" [ngClass]="filter?.iconClass"></i>
                        {{ filter.selectedOption || filter.label }}
                        <i class="bi bi-chevron-down ms-2"></i>
                    </app-button>
                    <ul class="dropdown-menu">
                        <li *ngFor="let option of filter?.options">
                            <a class="dropdown-item" (click)="alterarFiltro(filter, option)">
                                {{ option.label }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>