.container {
    background: white;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
    margin: 32px auto;
    padding: 32px;
    max-width: 480px;
    height: 430px;
}

input:focus, i.bi:focus {
  outline: none;
  box-shadow: none;
  border-color: (--blue-400);
}

input {
    border: var(--border);
}

h1#logo {
    font: var(--font-bold-48);
    white-space: nowrap;
    text-align: center;
    margin-bottom: 24px;
}

#loginFormDiv {
    width: 320px;
    margin: 16px auto;
}

.form-label {
    font: var(--font-bold-16);
    margin-bottom: 0.4rem;
}

div a#linkRecuperarSenha {
    text-decoration: none;
    color: var(--gray-600);
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
}

div a#linkRecuperarSenha:hover {
    color: var(--black);
    transition: 0.2s;
}

input#loginSenha {
    border-right: none;
}

i.bi {
    height: 40px;
    background-color: white;
    border: var(--border);
    border-radius: var(--radius);
    cursor: pointer;
    border-left: none;
    display: flex;
    align-items: center;
    padding-right: 8px;
    width: 30px;
    z-index: 20;
}

i.bi.icone-invalido {
    border: 2px solid red;
    border-left: none !important;
    color: red;
}

i.bi.icone-valido {
    border: 2px solid green;
    border-left: none !important;
    color: green;
}

input.ng-invalid.ng-touched {
    border: 2px solid red !important;
}

input.ng-valid.ng-touched {
    border: 2px solid green !important;
}

input#loginSenha.ng-valid.ng-touched,
input#loginSenha.ng-invalid.ng-touched {
    border-right: none !important;
}


@media (max-width: 430px) { 
   h1#logo {
        font: var(--font-bold-32); 
   }
}