<app-title [title]="titulo"></app-title>

<form [formGroup]="cotacaoExternaForm" class="needs-validation"
    novalidate>
    <div class="container">
        <div class="row">
            <div class="col-6 pe-2 mb-3">

                <!-- Informações -->
                <div class="row justify-content-between align-items-center header" style="height: 78px;">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-auto me-1">
                                <h4>Comprador:</h4>
                            </div>
                            <div class="col-auto">
                                <h4 class="header-info">{{ cotacao.grupoCotacao.usuario.nome }}</h4>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-auto me-1">
                                <h4>Email de contato:</h4>
                            </div>
                            <div class="col-auto">
                                <h4 class="header-info">{{ cotacao.grupoCotacao.usuario.email }}</h4>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-auto me-1">
                                <h4>Prazo solicitado: </h4>
                            </div>
                            <div class="col">
                                <h4 class="header-info">{{ cotacao.grupoCotacao.prazoSolicitado | date: 'dd/MM/yyyy' }}</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Produtos Header -->
                <div class="row justify-content-between mt-2">
                    <div class="col">
                        <span class="span-label">Produto</span>
                    </div>
                    <div class="col d-flex justify-content-end align-items-center me-4">
                        <span class="span-label">Quantidade</span>
                    </div>
                    <div class="col-1">
                        <span class="span-label">Un.</span>
                    </div>
                </div>

                <!-- Produtos lista -->
                <div class="row py-1 mt-1 produto-row" *ngFor="let mapProduto of getProdutos()" style="height: 40px;">
                    <div class="col">
                        <div class="row">
                            <div class="col align-items-center">
                                <span class="span-value">{{mapProduto.produto.descricao}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col me-4">
                        <div class="row justify-content-end">
                            <div class="col-auto align-items-center">
                                <span class="span-value ms-auto">{{mapProduto.quantidadeTotal}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="row">
                            <div class="col">
                                <span class="span-value">{{ getUnMedida(mapProduto.produto.unMedida) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 ps-3">
                <div class="header pb-2" style="height: 78px;">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <label class="form-label">
                                Prazo fornecedor
                                <span class="text-danger">*</span>
                            </label>
                            <div class="input-group">
                                <input ngbDatepicker #dp="ngbDatepicker" 
                                    class="form-control datepicker" 
                                    placeholder="DD/MM/AAAA" 
                                    name="dp"
                                    [startDate]="hoje" 
                                    [minDate]="hoje" 
                                    outsideDays="hidden" 
                                    (click)="dp.toggle()"
                                    (dateSelect)="onDateSelect($event)" 
                                    formControlName="prazoFornecedor" readonly>
                                <i class="bi bi-calendar pb-1" 
                                    (click)="dp.toggle()" 
                                    (dateSelect)="onDateSelect($event)" 
                                    [ngClass]="cotacaoExternaForm.get('prazoFornecedor').touched ? (cotacaoExternaForm.get('prazoFornecedor').valid ?
                                            'icone-valido' : 'icone-invalido') : ''">
                                </i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <span class="span-label flex-col">Disponibilidade</span>
                    </div>
                    <div class="col">
                        <span class="span-label flex-col">Valor unitário</span>
                    </div>
                    <div class="col">
                        <span class="span-label flex-col">Alíquota IPI</span>
                    </div>
                    <div class="col">
                        <span class="span-label flex-col">Subtotal</span>
                    </div>
                </div>
                <div class="row w-100" *ngFor="let produtoCotado of cotacao.produtos; let i = index;">
                    <div class="col py-1 pe-1">
                        <ng-select
                            [items]="disponibilidadeLista"
                            bindLabel="nome"
                            bindValue="id"
                            [(ngModel)]="produtoCotado.disponivel"
                            [ngModelOptions]="{standalone: true}"
                            ></ng-select>
                    </div>
                    <div class="col py-1 pe-1">
                        <input type="text" id="i" class="form-control text-center" [(ngModel)]="produtoCotado.precoUnitario"
                            [ngModelOptions]="{standalone: true}" (click)="converterValorParaStringFloat(produtoCotado)"
                            (focusout)="converterValorParaStringMoeda(produtoCotado)" [mask]="produtoCotado.inputing ? '0*,00': ''"
                            [dropSpecialCharacters]="false" required>
                    </div>
                    <div class="col p-1">
                            <input type="text" class="form-control text-center" [(ngModel)]="produtoCotado.aliquotaIpi"
                                [ngModelOptions]="{standalone: true}" mask="separator.2" thousandSeparator="." [suffix]="'%'"
                                [dropSpecialCharacters]="false">
                    </div>
                    <div class="col py-1 ps-1">
                            <input type="text" class="form-control text-center" [value]="getProdutoSubTotal(produtoCotado)" readonly>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mt-2 justify-content-between">
            <div class="col mt-2 me-3">
                <div class="row justify-content-between">
                    <div class="col me-1">
                        <label class="form-label">
                            Transportadora
                        </label>
                        <input type="text" class="form-control" [(ngModel)]="cotacao.transportadora" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col">
                        <label class="form-label">
                            Meio de transporte
                        </label>
                        <input type="text" class="form-control" [(ngModel)]="cotacao.meioTransporte" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </div>

            <div class="col mt-2">
                <div class="row">
                    <div class="col me-1">
                        <label class="form-label">
                            Frete
                        </label>
                        <input type="text" class="form-control" [(ngModel)]="cotacao.frete" [ngModelOptions]="{standalone: true}" (click)="converterValorParaStringFloatFrete()"
                            (focusout)="converterValorParaStringMoedaFrete()" [mask]="freteInputing ? '0*,00': ''">
                    </div>
                    <div class="col me-1">
                        <label class="form-label">
                            Desconto
                        </label>
                        <input type="text" class="form-control"  [(ngModel)]="cotacao.desconto" [ngModelOptions]="{standalone: true}" (click)="converterValorParaStringFloatDesconto()"
                            (focusout)="converterValorParaStringMoedaDesconto()" [mask]="descontoInputing ? '0*,00': ''"> 
                    </div>
                    <div class="col">
                        <label class="form-label">
                            Total
                        </label>
                        <input type="text" class="form-control" readonly [value]="calcularTotalCotacao(cotacao)" >
                    </div>
                </div>
            </div>
        </div>

            <!-- Observações -->
            <div class="row mt-3 justify-content-between">
                <div class="col me-3">
                    <label for="observacoesTextArea" class="form-label">Observações</label>
                    <textarea class="form-control px-2 py-2" id="observacoesTextArea" formControlName="observacoes"></textarea>
                </div>
                <div class="col">
                    <label for="" class="form-label">Formas de pagamento</label>
                    <ng-select
                        [addTag]="true"
                        [multiple]="true" 
                        [searchable]="true"
                        [closeOnSelect]="false"
                        [hideSelected]="true" 
                        [notFoundText]="'Digite uma forma de pgto'"
                        [addTagText]="'Adicionar forma pgto: '"
                        [(ngModel)]="cotacao.formasPgto">
                    </ng-select>
                </div>
            </div>
    </div>

    <div class="row justify-content-end mt-3">
        <div class="col-auto me-auto d-flex align-items-center">
            <app-button [btnClass]="'btn-tertiary-primary'" (click)="onRestaurar($event)">
                Restaurar
            </app-button>
        </div>
        <div class="col-auto">
            <app-button [btnClass]="'btn-primary'" type="submit" (action)="onSalvar($event)">Enviar cotação</app-button>
        </div>
    </div>
</form>