<ng-container *ngIf="hasUsuarioLogado">
    <!-- Sidebar -->
    <div class="sidebar" [ngStyle]="{width: sideBarSize}">
        <div class="sidebar-header">
            <i class="bi bi-x-lg close me-auto mt-1" (click)="onCloseSideBar()"></i>
        </div> 
        <div class="sidebar-body">
            <ul id="menu">
                <ng-container class="p-0 m-0" *ngFor="let menuItem of menuItemList; let i = index"  >
                    <a class="menu-item" *ngIf="menuItem.canAccess"
                        [routerLink]="[menuItem.value]" routerLinkActive="active">
                            <i class="bi menu-item-icon" [ngClass]="menuItem.icon"></i>
                            {{ menuItem.name }}
                    </a>
                </ng-container>
                <ng-container class="p-0 m-0" *ngFor="let menuItemDropdown of menuItemDropdownList">
                    <li class="dropdown" *ngIf="menuItemDropdown.canAccess">
                        <a class="menu-item dropdown-toggle no-icon" data-bs-toggle="dropdown" >
                            <i class="bi menu-item-icon" [ngClass]="menuItemDropdown.icon"></i>
                            {{ menuItemDropdown.name }}
                            <i class="bi bi-chevron-down menu-item-icon"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <ng-container class="p-0 m-0" *ngFor="let item of menuItemDropdown.itens">
                                <li *ngIf="item.canAccess">
                                    <a class="dropdown-item" [routerLink]="[item.value]">
                                        {{ item.name }}
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="sidebar-footer dropdown" *ngIf="adminMenu.canAccess">
            <a class="menu-item dropdown-toggle no-icon" data-bs-toggle="dropdown">
                <i class="bi menu-item-icon" [ngClass]="adminMenu.icon"></i>
                {{ adminMenu.name }}
            </a>
            <ul class="dropdown-menu">
                <li *ngFor="let adminItem of adminMenu.itens">
                    <a class="dropdown-item" [routerLink]="[adminItem.value]">
                        {{ adminItem.name }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <i id="menuIcon" class="bi bi-list mb-4 mb-lg-0" (click)="onOpenSideBar()"></i>
            <a class="logo me-auto mb-4 mb-lg-0" routerLink="/login">BaltaCompras</a>
            <div class="row mt-lg-4">
                <div class="col">
                    <i class="bi bi-bell-fill me-3 position-relative">
                        <span class="position-absolute ms-3 top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            2+
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </i>
                </div>
                <div class="col dropdown">
                    <a class="dropdown-toggle no-icon" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-fill"></i>
                    </a>
                    <ul id="dropdownMenuAccount" class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink" style="margin-top: -20px;">
                        <li>
                        <h6 id="userName" class="dropdown-item">{{ usuario.nome }}</h6>
                        <span id="userRole">{{ usuario.funcao.descricao }}</span>
                        </li>
                        <li class="dropdown-divider mt-1 mx-3"></li>
                        <li><a class="dropdown-item" (click)="onEditarPerfil()">Editar perfil</a></li>
                        <li class="dropdown-divider mx-3"></li>
                        <li><a class="dropdown-item"(click)="onLogout()">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</ng-container>