<app-title [title]="'Requisição'">
    <div class="row no-pm">
        <div class="col col-sm-auto">
            <app-button [btnClass]="'btn-outline-primary'" (click)="onDownload()">
                Exportar CSV
            </app-button>
        </div>
        <div class="col col-sm-auto ms-1">
            <app-button [btnClass]="'btn-primary py-2'" (click)="onNovaRequisicao()">
                Nova requisição
            </app-button>
        </div>
    </div>
</app-title>

<app-filter [atributos]="atributosPesquisa" [filtroAvancado]="true" (search)="filtrar($event)"></app-filter>

<div class="mb-5">
    <ngx-datatable class="material expandable" 
        #myTable [rows]="rows" 
        [rowClass]="getRowClass"
        [columnMode]="ColumnMode.force" 
        [headerHeight]="50" 
        [footerHeight]="50" 
        rowHeight="auto" 
        [externalPaging]="true"
        [count]="page.totalElements" 
        [offset]="page.page" 
        [limit]="page.size" 
        [externalSorting]="true"
        [loadingIndicator]="loading" 
        [messages]="messages" 
        [reorderable]="false" 
        (page)="carregarTabela($event)" 
        (sort)="ordenar($event)">

        <!-- Row Detail Template -->
        <ngx-datatable-row-detail #myMobileDetailRow>
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div class="detalhes">
                    <h3>Informações</h3>
                    <div class="row justify-content-between mt-2">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Nº requisição: </label>
                            <span class="row-detail-item">{{ row.id }}</span>
                        </div>
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Data abertura: </label>
                            <span class="row-detail-item">{{ row.data | date: 'dd/MM/yyyy' }}</span>
                        </div>
                    </div>
                    <div class="row justify-content-between mt-1">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Requisitante: </label>
                            <span class="row-detail-item">{{ row.usuario.nome }}</span>
                        </div>
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Prazo: </label>
                            <span class="row-detail-item">{{ row.prazo | date: 'dd/MM/yyyy' }}</span>
                        </div>
                    </div>
                    <div class="row justify-content-between mt-1">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Centro de custo: </label>
                            <span class="row-detail-item">{{ row.centroCusto.descricao }}</span>
                        </div>
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Status: </label>
                            <span class="row-detail-item">{{ row.status.replace('_', ' ') }}</span>
                        </div>
                    </div>
                    <div class="row justify-content-between mt-1">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Observações: </label>
                            <span class="row-detail-item">{{ row.observacoes }}</span>
                        </div>
                    </div>
                    <h3 class="mt-4">Produtos</h3>
                    <div class="row mt-2 tb">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="ps-3">#</th>
                                    <th scope="col">Produto</th>
                                    <th scope="col" class="text-end">Quantidade</th>
                                    <th scope="col" class="text-center">Un.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="align-items-center" *ngFor="let reqProd of row.produtos">
                                    <th scope="row" class="ps-3">{{ reqProd.produto.id }}</th>
                                    <td>{{ reqProd.produto.descricao }}</td>
                                    <td class="text-end">{{ reqProd.quantidade }}</td>
                                    <td class="text-center">{{ getUnMedida(reqProd.produto) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ng-template>
        </ngx-datatable-row-detail>

        <!-- Column Templates -->
        <ngx-datatable-column [width]="5" [resizeable]="false" [sortable]="false" [draggable]="false"
            [canAutoResize]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
                    title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
                </a>
            </ng-template>
        </ngx-datatable-column>

        <!-- headerClass="header-mobile-expand" -->
        <ngx-datatable-column name="Nº Requisição" prop="id" >
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span>{{ value }}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Data solicitação" prop="data" [sortable]="getWindowSize()" headerClass="header-mobile-hidden">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value | date: 'dd/MM/yyyy' }}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Prazo" [sortable]="getWindowSize()" headerClass="header-mobile-hidden">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value | date: 'dd/MM/yyyy' }}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Requisitante" prop="usuario" [sortable]="getWindowSize()" headerClass="header-mobile-hidden">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="row['usuario']" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value.nome }}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Status" [sortable]="getWindowSize()">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="d-flex">
                    <div class="status-tag mobile-hidden" [ngClass]="setStatusTag(value)">{{ value.replace('_', ' ') }}</div>
                    <div class="ms-auto d-flex align-items-center">
                        <a class="dropdown-toggle no-icon context-menu" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><app-button [btnClass]="'dropdown-item'" (action)="onEditarRequisicao(row)"
                                [isDisabled]="row.status != 'ABERTO'">
                                    <i class="bi bi-pencil-square me-2"></i>Editar</app-button></li>
                            <li><app-button [btnClass]="'dropdown-item'" (action)="onCancelarRequisicao(row)"
                                [isDisabled]="row.status != 'ABERTO'">
                                    <i class="bi bi-x-lg me-2 text-danger"></i>
                                    <span class="text-danger">Cancelar</span>
                                </app-button>
                            </li>
                        </ul>
                    </div>
                </div>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>