<app-title [title]="'Requisição'">
    <div class="row no-pm">
        <div class="col col-sm-auto">
            <app-button [btnClass]="'btn-outline-primary'" (click)="onDownload()">
                Exportar CSV
            </app-button>
        </div>
        <div class="col col-sm-auto ms-1">
            <app-button [btnClass]="'btn-primary py-2'" (click)="onNovaRequisicao()">
                Nova requisição
            </app-button>
        </div>
    </div>
</app-title>

<app-filter [searchTextOptions]="textOptions" [filters]="filters" (search)="filtrar($event)"></app-filter>

<div class="mb-5">
    <ngx-datatable class="material expandable" #myTable [rows]="rows" [rowClass]="getRowClass"
        [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="true"
        [count]="page.totalElements" [offset]="page.page" [limit]="page.size" [externalSorting]="true"
        [loadingIndicator]="loading" [messages]="messages" [reorderable]="false" [scrollbarH]="getWindowSize()"
        (page)="carregarTabela($event)" (sort)="ordenar($event)">

        <!-- Row Detail Template -->
        <ngx-datatable-row-detail #myMobileDetailRow>
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div class="detalhes-fornecedor">
                    <h3>Informações</h3>
                    <div class="row justify-content-between mt-2">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Nº requisição: </label>
                            <span class="row-detail-item">{{ row.id }}</span>
                        </div>
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Data abertura: </label>
                            <span class="row-detail-item">{{ row.data | date: 'dd/MM/yyyy' }}</span>
                        </div>
                    </div>
                    <div class="row justify-content-between mt-1">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Requisitante: </label>
                            <span class="row-detail-item">{{ row.usuario.nome }}</span>
                        </div>
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Prazo: </label>
                            <span class="row-detail-item">{{ row.prazo | date: 'dd/MM/yyyy' }}</span>
                        </div>
                    </div>
                    <div class="row justify-content-between mt-1">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Centro de custo: </label>
                            <span class="row-detail-item">{{ row.centroCusto.descricao }}</span>
                        </div>
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Status: </label>
                            <span class="row-detail-item">{{ row.status }}</span>
                        </div>
                    </div>
                    <div class="row justify-content-between mt-1">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Observações: </label>
                            <span class="row-detail-item">{{ row.observacoes }}</span>
                        </div>
                    </div>
                    <h3 class="mt-4">Produtos</h3>
                    <div class="row justify-content-between mt-2">
                        <table class="table table-hover px-3 py-2">
                            <thead>
                                <tr>
                                    <th scope="col" class="ps-3 pb-1">#</th>
                                    <th scope="col" class="pb-1">Produto</th>
                                    <th scope="col" class="pb-1">Quantidade</th>
                                    <th scope="col" class="pe-3 pb-1">Un.</th>
                                </tr>
                            </thead>
                            <tbody class="bg-light">
                                <tr>
                                    <th scope="row" class="ps-3 py-1">1</th>
                                    <td class="py-1">PS5</td>
                                    <td class="py-1">2</td>
                                    <td class="py-1">un</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ng-template>
        </ngx-datatable-row-detail>

        <!-- Column Templates -->
        <ngx-datatable-column [width]="5" [resizeable]="false" [sortable]="false" [draggable]="false"
            [canAutoResize]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
                    title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
                </a>
            </ng-template>
        </ngx-datatable-column>

        <!-- headerClass="header-mobile-expand" -->
        <ngx-datatable-column name="Nº Requisição" prop="id" >
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <!-- <span class="id">{{ value }}</span> -->
                <span>{{ value }}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Data de abertura" prop="data" [sortable]="getWindowSize()" headerClass="header-mobile-hidden">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value | date: 'dd/MM/yyyy' }}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Prazo" [sortable]="getWindowSize()" headerClass="header-mobile-hidden">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value | date: 'dd/MM/yyyy' }}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Requisitante" prop="usuario" [sortable]="getWindowSize()" headerClass="header-mobile-hidden">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="row['usuario']" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value.nome }}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Status" [sortable]="getWindowSize()">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="status-tag mobile-hidden" [ngClass]="setStatusTag(value)">{{ value }}</div>
            </ng-template>
        </ngx-datatable-column>

        
        <ngx-datatable-column name="Centro de custo" prop="centroCusto" [sortable]="getWindowSize()"
            headerClass="header-mobile-hidden">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="row['centroCusto']" ngx-datatable-cell-template>
                <div class="d-flex justify-content-between">
                    <span class="mobile-hidden">{{ value.descricao }}</span>
                    <div>
                        <a class="ms-auto dropdown-toggle no-icon context-menu" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" (click)="onEditarRequisicao(row)">
                                    <i class="bi bi-pencil-square me-2"></i>Editar</a></li>
                            <li><a class="dropdown-item" (click)="onCancelarRequisicao(row)">
                                    <i class="bi bi-x-lg me-2"></i>Cancelar</a></li>
                        </ul>
                    </div>
                </div>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>