<app-title [title]="'Cotação'">
    <div class="row justify-content-end">
        <div class="col-auto p-0">
            <app-button [btnClass]="'btn-outline-primary'" (click)="onDownload()">
                Exportar CSV
            </app-button>
        </div>
        <div class="col-auto ms-1 p-0">
            <app-button [btnClass]="'btn-primary py-2'" (click)="onGerarCotacoes()">
                Gerar cotações
            </app-button>
        </div>
    </div>
</app-title>

<app-filter [exibirBarraPesquisa]="true" (search)="filtrar($event)"></app-filter>

<div class="mb-5">
    <ngx-datatable class="material expandable" #myTable [rows]="rows" [rowClass]="getRowClass"
        [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="true"
        [count]="page.totalElements" [offset]="page.page" [limit]="page.size" [externalSorting]="true"
        [loadingIndicator]="loading" [messages]="messages" [reorderable]="false" [scrollbarH]="getWindowSize()"
        (page)="carregarTabela($event)" (sort)="ordenar($event)">

        <ngx-datatable-column name="Nº Cotação" prop="id" >
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span>{{ value }}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Prazo" prop="prazo" [sortable]="getWindowSize()" headerClass="header-mobile-hidden">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value | date: 'dd/MM/yyyy' }}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Comprador" prop="usuario" [sortable]="getWindowSize()" headerClass="header-mobile-hidden">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="row['usuario']" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value.nome }}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Status" [sortable]="getWindowSize()">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="status-tag mobile-hidden" [ngClass]="setStatusTag(value)">{{ value }}</div>
            </ng-template>
        </ngx-datatable-column>

        
        <ngx-datatable-column name="Fornecedor selecionado" prop="fornecedorSelecionado" [sortable]="getWindowSize()"
            headerClass="header-mobile-hidden">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="row['fornecedorSelecionado']" ngx-datatable-cell-template>
                <div class="d-flex justify-content-between">
                    <span class="mobile-hidden">{{ value.nomeFantasia }}</span>
                    <div>
                        <a class="ms-auto dropdown-toggle no-icon context-menu" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" (click)="onEditar(row)">
                                    <i class="bi bi-pencil-square me-2"></i>Editar</a></li>
                            <li><a class="dropdown-item" (click)="onCancelar(row)">
                                    <i class="bi bi-x-lg me-2"></i>Cancelar</a></li>
                        </ul>
                    </div>
                </div>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>