<app-title [title]="'Cotação'">
    <div class="row justify-content-end">
        <div class="col-auto p-0">
            <app-button [btnClass]="'btn-outline-primary'" (click)="onDownload()">
                Exportar CSV
            </app-button>
        </div>
        <div class="col-auto ms-1 p-0">
            <app-button [btnClass]="'btn-primary py-2'" (click)="onGerarCotacoes()">
                Gerar cotações
            </app-button>
        </div>
    </div>
</app-title>

<app-filter [atributos]="atributosPesquisa" [filtroAvancado]="true" (search)="filtrar($event)"></app-filter>

<div class="mb-5">
    <ngx-datatable class="material expandable" 
        #myTable [rows]="rows" [rowClass]="getRowClass"
        [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="true"
        [count]="page.totalElements" [offset]="page.page" [limit]="page.size" [externalSorting]="true"
        [loadingIndicator]="loading" [messages]="messages" [reorderable]="false"
        (page)="carregarTabela($event)" (sort)="ordenar($event)">

        <!-- Row Detail Template -->
        <ngx-datatable-row-detail #myMobileDetailRow>
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div>
                    <h3>Informações</h3>
                    <div class="row justify-content-between mt-2">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Nº Grupo cotação: </label>
                            <span class="row-detail-item">{{ row.id }}</span>
                        </div>
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Data abertura: </label>
                            <span class="row-detail-item">{{ row.data | date: 'dd/MM/yyyy' }}</span>
                        </div>
                    </div>
                    <div class="row justify-content-between mt-1">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Grupo produto: </label>
                            <span class="row-detail-item">{{ row.grupoProduto.descricao }}</span>
                        </div>
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Prazo solicitado: </label>
                            <span class="row-detail-item">{{ row.prazo | date: 'dd/MM/yyyy' }}</span>
                        </div>
                    </div>
                    <div class="row justify-content-between mt-1">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Comprador: </label>
                            <span class="row-detail-item">{{ row.usuario.nome }}</span>
                        </div>
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Prazo fornecedor: </label>
                            <span class="row-detail-item">{{ getCotacaoSelecionada(row).prazoFornecedor | date: 'dd/MM/yyyy' }}</span>
                        </div>
                    </div>
                    <div class="row justify-content-between mt-1">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Fornecedor selecionado: </label>
                            <span class="row-detail-item">{{ row.fornecedorSelecionado.nomeFantasia }}</span>
                        </div>
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Status: </label>
                            <span class="row-detail-item">{{ row.status }}</span>
                        </div>
                    </div>
                    <div class="row justify-content-between mt-1">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Cnpj: </label>
                            <span class="row-detail-item">{{ row.fornecedorSelecionado.cnpj }}</span>
                        </div>
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Total: </label>
                            <span class="row-detail-item"><span class="me-1">R$</span>{{ getCotacaoSelecionada(row).total }}</span>
                        </div>
                    </div>
                    <div class="row justify-content-between mt-1">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Observações: </label>
                            <span class="row-detail-item">{{ row.observacoes }}</span>
                        </div>
                    </div>
                    <div class="row justify-content-between mt-1">
                        <div class="col-sm-auto">
                            <label class="form-label me-2">Fornecedores cotados: </label>
                            <span class="row-detail-item d-block" *ngFor="let cot of row.cotacoes">{{ cot.fornecedor.nomeFantasia }}</span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngx-datatable-row-detail>
        
        <!-- Column Templates -->
        <ngx-datatable-column [width]="5" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                    (click)="toggleExpandRow(row)">
                </a>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nº Grupo Cotação" prop="id" >
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span>{{ value }}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Grupo Produto" prop="grupoProduto" >
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span>{{ value.descricao }}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Prazo" prop="prazo" [sortable]="getWindowSize()" headerClass="header-mobile-hidden">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value | date: 'dd/MM/yyyy' }}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Comprador" prop="usuario" [sortable]="getWindowSize()" headerClass="header-mobile-hidden">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="row['usuario']" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value.nome }}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Fornecedor selecionado" prop="fornecedorSelecionado" [sortable]="getWindowSize()"
            headerClass="header-mobile-hidden">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="row['fornecedorSelecionado']" ngx-datatable-cell-template>
                <div class="d-flex justify-content-between">
                    <span class="mobile-hidden">
                        {{ value?.nomeFantasia }}
                    </span>
                </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Status" [sortable]="getWindowSize()">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden" (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="d-flex">
                    <div class="status-tag mobile-hidden" [ngClass]="setStatusTag(value)">{{ value.split('_') }}</div>
                    <div class="ms-auto d-flex align-items-center">
                        <a class="dropdown-toggle no-icon context-menu" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" (click)="onEditar(row)">
                                    <i class="bi bi-pencil-square me-2"></i>Editar</a></li>
                            <li><a class="dropdown-item" (click)="onCancelar(row)">
                                    <i class="bi bi-x-lg me-2"></i>Cancelar</a></li>
                        </ul>
                    </div>
                </div>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>